main{
    text-align: center;
}
main>*{
    width: 80vh;
    margin: 5px auto;
    padding: 20px;
}
main>.personalia{
    text-emphasis: 'Ö';
    width: 50vh;
    margin-bottom: 20px;
    position: relative;
    border-radius: 200px;
}
main>p{
    background-color: var(--mid-color1);
    box-shadow: inset 1px 1px 8px 2px hsla(0, 0%, 0%, 0.719),
                      5px 5px 8px 2px black;
}
main>.post{
    position: relative;
}
.likes{
    position: absolute;
    bottom: -20px;
    right: 50px;
    padding: 10px;
    padding-bottom: 0;
}
.likes>span{
    color:rgb(209, 0, 0);
    font-weight: bolder;
}
.checkmark{
    display: inline-block;
    border-radius: 50%;
    font-size: 2.5em;
    font-weight: bolder;
    width: 30px;
    height: 30px;
    transition: 0.6s;
    /* border-top: 5px ridge var(--red3);
    border-left: 5px ridge var(--red3);
    border-right: 5px groove var(--red3);
    border-bottom: 5px groove var(--red3); */
}
.checkbox-container:hover input ~ .checkmark{
    transform: scale(1.2) rotate(-30deg);
    color: wheat;
}
.checkbox-container input:checked ~ .checkmark{
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
    color:white;
    background-color: rgb(236,239,207);
}